.home-title {
  margin: 5rem;
  font-size: 5rem;
  color: var(--pokemon-dark-red);
  text-align: center;
}

.home-page {
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .home-title {
    margin: 1rem;
    font-size: 1rem;
  }
}
