<app-pokemon-card-header
  [currentPokemon]="currentPokemon$ | async" 
  [comparisonPokemon]="comparisonPokemon$ | async" 
  [isComparing]="isComparing$ | async"
  [dialogRef]="dialogRef"
></app-pokemon-card-header>

<app-pokemon-card-data 
  [currentPokemon]="currentPokemon$ | async" 
  [comparisonPokemon]="comparisonPokemon$ | async" 
  [isComparing]="isComparing$ | async">
</app-pokemon-card-data>

<app-pokemon-card-chart
  [currentPokemon]="currentPokemon$ | async" 
  [comparisonPokemon]="comparisonPokemon$ | async" 
  [isComparing]="isComparing$ | async">
</app-pokemon-card-chart>
