<div *ngIf="isComparing else show">
  <div class="pokemon-comparison-information" *ngIf="currentPokemon && comparisonPokemon">
    <div class="pokemon-comparison-images">
      <img
        class="card-comparison-image"
        [src]="pokemonImages[0]"
        [alt]="currentPokemon.name">
      <img
        class="card-comparison-image"
        [src]="pokemonImages[1]"
        [alt]="comparisonPokemon.name">
    </div>
    <div class="pokemon-comparison-details">
      <div class="pokemon-comparison-detail-item">
        <h4 class="pokemon-comparison-detail-description">{{ getGenderName(currentPokemon.genderRate) }}</h4>
        <h3 class="pokemon-comparison-detail-title">Gender</h3>
        <h4 class="pokemon-comparison-detail-description">{{ getGenderName(comparisonPokemon.genderRate) }}</h4>
      </div>
      <div class="pokemon-comparison-detail-item" *ngFor="let detail of pokemonDetailTitle; index as i">
        <h4 class="pokemon-comparison-detail-description">{{ currentPokemon[getItem(i)] }}</h4>
        <h3 class="pokemon-comparison-detail-title">{{ detail }}</h3>
        <h4 class="pokemon-comparison-detail-description">{{ comparisonPokemon[getItem(i)] }}</h4>
      </div>
      <div class="pokemon-comparison-detail-item">
        <ul class="pokemon-comparison-detail-list" > 
          <li class="pokemon-comparison-detail-description" *ngFor="let ability of currentPokemon.abilities">{{ ability.ability.name }}</li>
        </ul>
        <h3 class="pokemon-comparison-detail-title">Abilities</h3>
        <ul class="pokemon-comparison-detail-list" > 
          <li class="pokemon-comparison-detail-description" *ngFor="let ability of comparisonPokemon.abilities">{{ ability.ability.name }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #show>
  <div class="pokemon-information" *ngIf="currentPokemon" >
    <img
      class="card-image"
      [src]="pokemonImages[0]"
      [alt]="currentPokemon.name">
    <div>
      <p class="pokemon-description">{{ currentPokemon.description }}</p>
      <div class="pokemon-details"> 
        <div class="pokemon-detail-item">
          <h3 class="pokemon-detail-title">Gender</h3>
          <h4 clas="pokemon-detail-description">{{ getGenderName(currentPokemon.genderRate) }}</h4>
        </div>
        <div class="pokemon-detail-item" *ngFor="let detail of pokemonDetailTitle; index as i">
          <h3 class="pokemon-detail-title">{{ detail }}</h3>
          <h4 clas="pokemon-detail-description">{{ currentPokemon[getItem(i)] }}</h4>
        </div>
        <div class="pokemon-detail-item">
          <h3 class="pokemon-detail-title">Types</h3>
          <ul class="pokemon-detail-list" > 
            <li class="pokemon-detail-description" *ngFor="let type of currentPokemon.types">{{ type.type.name }}</li>
          </ul>
        </div>
        <div class="pokemon-detail-item">
          <h3 class="pokemon-detail-title">Abilities</h3>
          <ul class="pokemon-detail-list"> 
            <li class="pokemon-detail-description" *ngFor="let ability of currentPokemon.abilities">{{ ability.ability.name }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-template> 