.pokemon-list {
  width: 100%;
}

.list-title {
  margin: 2rem;
  font-size: 3rem;
  -webkit-text-stroke: 0.01rem var(--pokemon-black);
  color: var(--pokemon-red);
  text-align: center;
  font-weight: 700;
}
