<!-- <mat-sidenav-container fullscreen>-->

  <!-- <mat-sidenav #start>
    <mat-nav-list (click)="start.close()">
      <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="/pokemon">
        <mat-icon>list</mat-icon>
        <span>Pokemon</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button class="menu-button" mat-icon-button (click)="start.open('mouse')">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>  -->
  
  <!-- <a mat-list-item routerLink="/">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>
  <a mat-list-item routerLink="/pokemon">
    <mat-icon>list</mat-icon>
    <span>Pokemon</span>
  </a> -->
  
<!-- </mat-sidenav-container> -->

<app-header></app-header>

<router-outlet></router-outlet>