  <div class='pokemon-header'>
    <button class="menu-button" mat-icon-button (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
    <h2 class='pokemon-name'>{{dialogTitle}}</h2>
  </div>
  <app-pokemon-card-data [pokemon]="pokemon" [mode]="isComparing$ | async"></app-pokemon-card-data>
  <h1>{{isComparing$ | async}}</h1>
  <h1 *ngIf="isComparing$ | async">COMPARANDO</h1>  
  <h1 *ngIf="!(isComparing$ | async)">MOSTRANDO</h1>
  <button mat-raised-button (click)="compare()">
    Compare
  </button>
