<app-alert-message message="You can only have 5 favorite pokemon!" *ngIf="isFavoriteListFull"></app-alert-message>
<app-info-message 
  mainMessage="Comparing pokemon..." 
  [message]="currentPokemon.name" 
  *ngIf="isComparing">
</app-info-message>
<div 
  class="pokemon-list" 
  infiniteScroll
  (scrolled)="loadMorePokemon()"> 
  <div 
    class="pokemon-item" 
    *ngFor="let pokemon of pokemonList; index as i"
    (click)="openPokemonCard(pokemon)">
    <img class="pokemon-image" [src]="pokemonImages[i]" [alt]="pokemon.name">
    <h2 class="pokemon-name">
      {{ pokemon.name.toUpperCase() }}
      <app-pokemon-favorite
        [pokemon]="pokemon" 
        [favorite]="favorites[i]"
        [favoritePokemonLength]="favoritePokemonList.length"
        (isFavoriteListFull)="handleIsFavoriteFull($event)">
      </app-pokemon-favorite>
    </h2>
  </div>
</div>

