<app-alert-message [message]="maxFavoriteMessage" *ngIf="maxFavorite"></app-alert-message>
<app-info-message [mainMessage]="comparisonMessage" [message]="currentPokemon.name" *ngIf="isComparing"></app-info-message>
<div 
  class="pokemon-list" 
  infiniteScroll
  (scrolled)="onScroll()"> 
  <div 
    class="pokemon-item" 
    *ngFor="let pokemon of pokemonList | pokemonFilter: searchInput" 
    (click)="openPokemonCard(pokemon)">
    <img class="pokemon-image" src="{{ getImage(pokemon.name) }}" alt="{{ pokemon.name }}">
    <h2 class="pokemon-name">
      {{ pokemon.name.toUpperCase() }}
      <mat-icon class="icon" [ngClass]="{'icon-selected' : getFavoriteListIndex(pokemon.name) !== -1}" (click)="handleFavorite($event, pokemon)">favorite</mat-icon>
    </h2>
  </div>
</div>

